
.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
        | When I Work - IBA
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li#gotoSchedule(class=(title == 'Schedule') ? 'active' : undefined)
          a(href='#') Schedule
        li#gotoRequests(class=(title == 'Requests') ? 'active' : undefined)
          a(href='#') Requests
        
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') Login
          
        else
          - var locations = user.locations;
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span Locations 
              i.caret
            ul.dropdown-menu
              // repeat li of location
              each location in locations
                li#location(data-location=location.id)
                  a(href="#")= location.name
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.user.avatar.url
                img(src=user.user.avatar.url.split("/%s")[0], alt=(user.user.first_name+" "+user.user.last_name || user.user.email || user.user.id))
              span= user.user.first_name+" "+user.user.last_name || user.user.email || user.user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout
